body{
    background-color: rgba(255, 255, 255, 0.6); 
}
.order-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 5px 10px;
    width: 80%;
    max-width: 1800px;
    height: 80%;
    max-height: 100vh;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

 .order-container .search-container {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255) ;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 6px rgba(159, 155, 155, 0.2);
    max-width: 900px;
    margin: 0 auto 10px auto;
    font-size: 18px;
}

.order-container .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 10%;
    gap: 5px;
}

.search-container input {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    background: rgba(109, 107, 107, 0.2);
    color: black;
}

.search-container button {
    margin-left: 10px;
    border: none;
    background: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    text-align: center;
    width: 20%;
}

.add-order{
    margin-left: 5px;
    border: none;
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    text-align: center;
    width: 15%;
}

.add-book:hover {
    background: darkgreen;
}


.search-container button:hover {
    background: darkblue;
}
/*Navigation*/
.order-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 18px;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    border-radius: 8px;
}
.order-nav-list {
    list-style: none;
    display: flex;
    gap: 0 20px;
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.order-nav-list li {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}
.order-nav-list li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.order-nav-list li:hover {
    background: blue;
}
.order-nav-list li:hover a {
    color: white;
}

.order-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px)); 
  gap: 15px; /* khoảng cách giữa các item */
}

.order-item {
    width: 80%;
    height: 80%;
  background: rgba(235, 233, 233, 0.8);
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 6px rgba(11, 10, 10, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.order-item:hover {
  transform: scale(1.03);
}

.order-item img {
    /* display: block;   */
    width: 100%;
    max-width: cover;
    height: 60%;
    /* object-fit: cover; */
    /* flex-wrap: wrap; */
    border-radius: 8px;
    margin-bottom: 5px auto;
}

.order-item span {
    display: block;
    font-size: 20px;
    color: black;
}
.order-item h3 {
    font-size: 18px;
    color: black;
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
}
@media screen and (max-width: 1080px) and (min-width: 360px) {
    .order-container {
        width: 95%;
        height: 90%;
        padding: 10px;
    }
    .order-nav-list {
        gap: 0 10px;
        font-size: 14px;
    }
    .order-item {
        width: 100%;
        height: auto;
        padding: 8px 10px;
    }
    .order-item img {
        height: auto;
    }
    .order-item h3 {
        font-size: 16px;
    }
    .order-item span {
        font-size: 16px;
    }
    .search-container button {
        width: 30%;
        padding: 8px 10px;
        font-size: 14px;
    }
    .search-container input {
        font-size: 14px;
        padding: 8px 10px;
    }
    .add-order{
        width: 20%;
        padding: 8px 10px;
        font-size: 14px;
    }
}